process {
  // Set the default number of CPUs and memory for all processes
  cpus = 16
  memory = '7 GB'
}

executor {
  // Define the resources for each process
  index {
    cpus = 2
    memory = '4 GB'
  }
  QC {
    cpus = 4
    memory = '8 GB'
  }
  mapping {
    cpus = 8
    memory = '16 GB'
  }
  sorting {
    cpus = 2
    memory = '4 GB'
  }
  variant_calling {
    cpus = 4
    memory = '8 GB'
  }
  variant_filtering {
    cpus = 2
    memory = '4 GB'
  }
  variant_annotation {
    cpus = 4
    memory = '8 GB'
  }
}